
<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="angularDetails" routerLinkActive="active" class="nav-link" >Angular Primary Details</a>
      </li>
      <li class = "nav-item">
        <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
  </ul>
</nav> -->


<router-outlet>
  <!-- <app-header></app-header> -->
  <!-- <app-login></app-login> -->
  <h1 class="center margin height">  <a [routerLink]="['/homely']">Initialization with Authentication</a> <br><br> </h1>
  <h1 class="center height">  <a [routerLink]="['/headerCheck']">Homepage</a> <br><br> </h1>
</router-outlet>
hello
